<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.ithappens.mapper.ClienteMapper">

    <!--Buscar todas os clientes: <list> -->
    <select id="listarTodosClientes" resultMap="ResultCliente">
       SELECT * from cliente
    </select>
    <resultMap id="ResultCliente" type="br.com.ithappens.model.Cliente">
        <id property="id" column="cliente_id"/>
        <result property="id" column="id"/>
        <result property="nome" column="nome"/>
        <result property="documentoDeIdentificacao" column="documentoDeIdentificacao"/>
        <result property="status" column="status"/>
    </resultMap>

    <!--Buscar cliente por id: <list> -->
    <select id="buscarClienteID" parameterType="br.com.ithappens.model.Cliente" resultType="br.com.ithappens.model.Cliente">
        SELECT * from cliente WHERE cliente.id = #{id}
    </select>

    <!--Salvar cliente: <list> -->
    <insert id="salvarClienteMapper" parameterType="br.com.ithappens.model.Cliente">
        INSERT INTO cliente (id, nome, documentoDeIdentificacao, status)
            VALUES(#{cliente.id}, #{cliente.nome}, #{cliente.documentoDeIdentificacao}, #{cliente.status})
    </insert>

    <!--Atualizar cliente -->
    <update id="atualizarCliente" parameterType="br.com.ithappens.model.Cliente">
       UPDATE cliente
        SET nome= #{cliente.nome}, documentoDeIdentificacao= #{cliente.documentoDeIdentificacao}, status= #{cliente.status}
        WHERE id = #{cliente.id};
    </update>

</mapper>