<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.ithappens.mapper.FilialMapper">
    <!--Buscar todas as filiais: <list> -->
    <select id="listarTodasFilias" resultType="br.com.ithappens.model.Filial">
       SELECT * from filial
    </select>

    <!--Buscar filial por id: <list> -->
    <select id="buscarFilialPorId" parameterType="br.com.ithappens.model.Filial" resultType="br.com.ithappens.model.Filial">
        SELECT * from filial WHERE filial.id = #{id}
    </select>

    <!--Salvar Filiais: <list> -->
    <insert id="salvarFilial" parameterType="br.com.ithappens.model.Filial">
    INSERT INTO filial (id, nome, cnpj) VALUES(#{filial.id}, #{filial.nome}, #{filial.cnpj})
    </insert>

    <!--Deletar Filiais -->
    <delete id="deleteFilial" parameterType="br.com.ithappens.model.Filial">
        DELETE FROM filial WHERE filial.id = #{id}
    </delete>

    <!--Atualizar Filiais -->
    <update id="atualizar" parameterType="br.com.ithappens.model.Filial">
       UPDATE filial
        SET nome= #{filial.nome}, cnpj= #{filial.cnpj}
        WHERE id = #{filial.id};
    </update>
</mapper>
