<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.ithappens.mapper.FilialMapper">

    <!--Buscar todas as filiais: <list> -->
    <select id="listarTodasFilias" resultMap="ResultFilial">
       SELECT * from filial
    </select>
    <resultMap id="ResultFilial" type="br.com.ithappens.model.Filial">
        <id property="id" column="filial_id"/>
        <result property="id" column="id"/>
        <result property="nome" column="nome"/>
        <result property="cnpj" column="cnpj"/>
        <result property="status" column="status"/>
    </resultMap>

    <!--Buscar filial por id: <list> -->
    <select id="buscarFilialPorId" parameterType="br.com.ithappens.model.Filial" resultType="br.com.ithappens.model.Filial">
        SELECT * from filial WHERE filial.id = #{id}
    </select>

    <!--Salvar Filiais: <list> -->
    <insert id="salvarFilial" parameterType="br.com.ithappens.model.Filial">
        INSERT INTO filial (id, nome, cnpj, status) VALUES(#{filial.id}, #{filial.nome}, #{filial.cnpj}, #{filial.status})
    </insert>

    <!--Atualizar Filiais -->
    <update id="atualizar" parameterType="br.com.ithappens.model.Filial">
       UPDATE filial
        SET nome= #{filial.nome}, cnpj= #{filial.cnpj}, status= #{filial.status}
        WHERE id = #{filial.id};
    </update>

</mapper>