<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.ithappens.mapper.ItemMapper">

    <select id="listarTodosItemsDoPedidos" resultMap="itemPedidoMap">
    SELECT itempedidoestoque.id as item_id, quantidadepedido, valordopedido, pedidoestoque, itempedidoestoque.status as item_status,
    produto.id as produto_id, produto.descricao, produto.valorproduto, produto.status,
    pedidoestoque.id as pedido_id
    FROM itempedidoestoque
    inner join produto
    on itempedidoestoque.produto = produto.id
    inner join pedidoestoque
    on itempedidoestoque.pedidoestoque = pedidoestoque.id
    </select>
    <resultMap id="itemPedidoMap" type="br.com.ithappens.model.ItemPedidoEstoque">
        <result column="item_id" property="id"/>
        <result column="quantidadepedido" property="quantidadePedido"/>
        <result column="valordopedido" property="valorDoPedido"/>
        <result column="item_status" property="status"/>
        <association property="produto" resultMap="br.com.ithappens.mapper.ProdutoMapper.ResultProduto"/>
        <association property="pedidoEstoque" javaType="br.com.ithappens.model.PedidoEstoque">
            <id property="id" column="pedido_id"/>
        </association>
    </resultMap>

    <!--Buscar por ID -->
    <select id="buscarItemPorId" parameterType="br.com.ithappens.model.ItemPedidoEstoque" resultType="br.com.ithappens.model.ItemPedidoEstoque">
        SELECT * from itemPedidoEstoque WHERE itemPedidoEstoque.id = #{id}
    </select>

    <!--Salvar itens no Pedido -->
    <insert id="salvaritemDoPedido" parameterType="br.com.ithappens.model.ItemPedidoEstoque">
        INSERT INTO itempedidoestoque (id, quantidadePedido, valorDoPedido, produto, pedidoEstoque, status)
            VALUES(#{itempedidoestoque.id}, #{itempedidoestoque.quantidadePedido}, #{itempedidoestoque.valorDoPedido}, #{itempedidoestoque.produto.id}, #{itempedidoestoque.pedidoEstoque.id}, #{itempedidoestoque.status})
    </insert>
</mapper>