<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="br.com.ithappens.mapper.PedidoMapper">

    <!-- Buscar todas as pedidos: <list> -->
    <select id="listarTodosPedidosEstoque" resultMap="pedidoEstoqueMap">
        SELECT pedidoestoque.id as pedido_id, pedidoestoque.status as pedido_status, tipoReceita, quantidadePedidoTotal, valorPedidoTotal,
            filial.id as filial_id, filial.nome, filial.cnpj, filial.status,
            cliente.id as cliente_id, cliente.nome, cliente.documentoDeIdentificacao, cliente.status,
            itempedidoestoque.id, itempedidoestoque.valordopedido
        from pedidoEstoque
        inner join filial
        on pedidoestoque.filial = filial.id
        inner join cliente
        on pedidoestoque.cliente = cliente.id
        left join itempedidoestoque
        on pedidoestoque.itempedidoestoque  = itempedidoestoque.id

    </select>
    <resultMap id="pedidoEstoqueMap" type="br.com.ithappens.model.PedidoEstoque">
        <result column="pedido_id" property="id"/>
        <result column="tipoReceita" property="tipoReceita"/>
        <result column="quantidadePedidoTotal" property="quantidadePedidoTotal"/>
        <result column="valorPedidoTotal" property="valorPedidoTotal"/>
        <result column="pedido_status" property="status"/>
        <association property="filial" resultMap="br.com.ithappens.mapper.FilialMapper.ResultFilial"/>
        <association property="cliente" resultMap="br.com.ithappens.mapper.ClienteMapper.ResultCliente"/>
        <association property="itemPedidoEstoque" resultMap="br.com.ithappens.mapper.ItemMapper.itemPedidoMap"/>
    </resultMap>

    <!--Buscar por ID -->
    <select id="buscarPedidosEstoquePorId" resultMap="pedidoEstoqueMap" parameterType="br.com.ithappens.model.PedidoEstoque" >
         SELECT pedidoestoque.id as pedido_id, pedidoestoque.status as pedido_status, tipoReceita, quantidadePedidoTotal, valorPedidoTotal,
            filial.id as filial_id, filial.nome, filial.cnpj, filial.status,
            cliente.id as cliente_id, cliente.nome, cliente.documentoDeIdentificacao, cliente.status,
            itempedidoestoque.id as item_id, itempedidoestoque.quantidadePedido, itempedidoestoque.valordopedido, itempedidoestoque.status as item_status,
            produto.id as produto_id, produto.descricao, produto.valorproduto, produto.status
        from pedidoEstoque
        inner join filial
        on pedidoestoque.filial = filial.id
        inner join cliente
        on pedidoestoque.cliente = cliente.id
        inner join itempedidoestoque
        on pedidoestoque.id = itempedidoestoque.pedidoestoque
        inner join produto
        on itempedidoestoque.produto = produto.id
        WHERE pedidoEstoque.id = #{id}
    </select>

    <select id="buscarSimplesPedidosEstoquePorId" parameterType="br.com.ithappens.model.PedidoEstoque" resultType="br.com.ithappens.model.PedidoEstoque">
        SELECT *
        from pedidoEstoque
        WHERE pedidoEstoque.id = #{id}
    </select>

    <!--Salvar Pedido -->
    <insert id="salvarPedido" parameterType="br.com.ithappens.model.PedidoEstoque">
        INSERT INTO pedidoEstoque (id, tipoReceita, quantidadePedidoTotal, valorPedidoTotal, status, filial, cliente)
            VALUES(#{pedidoEstoque.id}, #{pedidoEstoque.tipoReceita}, #{pedidoEstoque.quantidadePedidoTotal}, #{pedidoEstoque.valorPedidoTotal}, #{pedidoEstoque.status}, #{pedidoEstoque.filial.id}, #{pedidoEstoque.cliente.id})
    </insert>

    <!-- Cancelar pedido -->
    <update id="cancelarPedidoMapper" parameterType="br.com.ithappens.model.PedidoEstoque">
        UPDATE pedidoEstoque
        SET id = #{pedidoEstoque.id}, tipoReceita = #{pedidoEstoque.tipoReceita}, quantidadePedidoTotal = #{pedidoEstoque.quantidadePedidoTotal}, valorPedidoTotal = #{pedidoEstoque.valorPedidoTotal}, status = #{pedidoEstoque.status}
        WHERE id = #{pedidoEstoque.id}
    </update>

</mapper>