<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="br.com.ithappens.mapper.PedidoMapper">
    <!-- Buscar todas as filiais: <list> -->
    <select id="listarTodosPedidosEstoque" resultType="br.com.ithappens.model.PedidoEstoque">
        SELECT * from pedidoEstoque
    </select>

    <select id="buscarPedidosEstoquePorId" parameterType="br.com.ithappens.model.PedidoEstoque" resultType="br.com.ithappens.model.PedidoEstoque">
        SELECT * from pedidoEstoque WHERE pedidoEstoque.id = #{id}
    </select>

    <insert id="salvarPedido" parameterType="br.com.ithappens.model.PedidoEstoque">
    INSERT INTO pedidoEstoque (id, tipoReceita, quantidadePedidoTotal, valorPedidoTotal, filial, itemPedidoEstoque)
        VALUES(#{pedidoEstoque.id}, #{pedidoEstoque.tipoReceita}, #{pedidoEstoque.quantidadePedidoTotal}, #{pedidoEstoque.valorPedidoTotal}, #{pedidoEstoque.filial.id}, #{pedidoEstoque.itemPedidoEstoque.id})
    </insert>

</mapper>
