<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="br.com.ithappens.mapper.PedidoMapper">

    <!-- Buscar todas as filiais: <list> -->
    <select id="listarTodosPedidosEstoque" resultMap="pedidoEstoqueMap">
        SELECT pedidoestoque.id as pedido_id, tipoReceita, quantidadePedidoTotal, valorPedidoTotal, status,
            filial.id as filial_id, filial.nome, filial.cnpj, filial.status,
            cliente.id as cliente_id, cliente.nome, cliente.documentoDeIdentificacao, cliente.status
        from pedidoEstoque
        inner join filial
        on pedidoestoque.filial = filial.id
        inner join cliente
        on pedidoestoque.cliente = cliente.id
    </select>
    <resultMap id="pedidoEstoqueMap" type="br.com.ithappens.model.PedidoEstoque">
        <result column="pedido_id" property="id"/>
        <result column="tipoReceita" property="tipoReceita"/>
        <result column="quantidadePedidoTotal" property="quantidadePedidoTotal"/>
        <result column="valorPedidoTotal" property="valorPedidoTotal"/>
        <result column="status" property="status"/>
        <association property="filial" resultMap="br.com.ithappens.mapper.FilialMapper.ResultFilial"/>
        <association property="cliente" resultMap="br.com.ithappens.mapper.ClienteMapper.ResultCliente"/>
    </resultMap>

    <!--Buscar por ID -->
    <select id="buscarPedidosEstoquePorId" parameterType="br.com.ithappens.model.PedidoEstoque" resultType="br.com.ithappens.model.PedidoEstoque">
        SELECT * from pedidoEstoque WHERE pedidoEstoque.id = #{id}
    </select>

    <!--Salvar Pedido -->
    <insert id="salvarPedido" parameterType="br.com.ithappens.model.PedidoEstoque">
        INSERT INTO pedidoEstoque (id, tipoReceita, quantidadePedidoTotal, valorPedidoTotal, status, filial, cliente, itemPedidoEstoque)
            VALUES(#{pedidoEstoque.id}, #{pedidoEstoque.tipoReceita}, #{pedidoEstoque.quantidadePedidoTotal}, #{pedidoEstoque.valorPedidoTotal}, #{pedidoEstoque.status}, #{pedidoEstoque.filial.id}, #{pedidoEstoque.cliente.id}, #{pedidoEstoque.itemPedidoEstoque.id})
    </insert>

    <!-- Cancelar pedido -->
    <update id="cancelarPedidoMapper" parameterType="br.com.ithappens.model.PedidoEstoque">
        UPDATE pedidoEstoque
        SET id = #{pedidoEstoque.id}, tipoReceita = #{pedidoEstoque.tipoReceita}, quantidadePedidoTotal = #{pedidoEstoque.quantidadePedidoTotal}, valorPedidoTotal = #{pedidoEstoque.valorPedidoTotal}, status = #{pedidoEstoque.status}
        WHERE id = #{pedidoEstoque.id}
    </update>

</mapper>